/* You can add global styles to this file, and also import other style files */
body{
    background-color: brown;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-align: center;
    color: aliceblue;
}